/****** CSS -> Landing.js ******/

.landing {
  width: 80%;
  height: 70vh;
  margin: auto;
  margin-top: 2rem;
  border-radius: 25px;
  box-shadow: 0px 0px 25px -12px black;
  background: #ecb453;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.landing-text {
  width: 40%;
  margin: 3rem 0 0 3rem;
  font-family: "Hind";
}
.landing-text h1 {
  font-family: "Copse";
  font-size: 3rem;
  margin-bottom: 2rem;
}
.landing-text p {
  font-size: 1.2rem;
}
.landing img {
  height: 120%;
  top: -60px;
  right: 0px;
  position: absolute;
  z-index: -1;
}
.search-box {
  display: flex;
  justify-content: space-evenly;
  font-family: "Montserrat";
  font-size: 0.9rem;
  align-items: center;
  background: #fafafa;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 20px;
  height: 6rem;
  padding: 0rem 1rem;
  z-index: 2;
}
.search-list {
  display: flex;
  width: 90%;
  align-items: center;
}
.search-list li {
  margin-right: 3rem;
}
.search-list li p {
  margin-top: 0.2rem;
  color: #6e7377;
  cursor: pointer;
}
.search-icon {
  font-size: 1.2rem;
  background: black;
  color: white;
  padding: 0.9rem;
  font-weight: medium;
  border-radius: 50%;
  cursor: pointer;
}
.llblink {
  color: black;
}

/**** CSS -> Register.js  ****/
.register-page {
  display: flex;
  /* flex-direction: row; */
  width: 70%;
  height: 80vh;
  background: white;
  margin: auto;
  margin-top: 2rem;
  box-shadow: 0px 0px 25px -15px black;
  border-radius: 10px;
  overflow: hidden;
}
.regRight {
  width: 60%;
  height: 100%;
}
.regLeft {
  background: #ff5f6d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc371,
    #ff5f6d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc371,
    #ff5f6d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  width: 40%;
  display: flex;
  padding: 3rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.regLeft h3 {
  font-family: "Montserrat";
  font-size: 2.5rem;
}
.regLeft p {
  font-family: "Hind";
  line-height: 1.2rem;
  margin: 1.5rem 1rem;
  font-size: 1.1rem;
}
.regLeft button,
.submit-btn {
  font-size: 0.7rem;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 0.7rem 3rem;
  border-radius: 20px;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
}
.regRight h2 {
  text-align: center;
}
.regRight form {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background: pink; */
  justify-content: center;
  align-items: center;
}
.regRight form input {
  width: 60%;
  font-family: Montserrat;
  font-weight: 300;
  padding: 1.4rem;
  border: none;
  border-radius: 4px;
  background: #e8eef0;
  margin: 0.3rem;
  outline: none;
}
.form-title {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1.2rem;

  color: #ff5f6d; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #ffc371,
    #ff5f6d
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #ffc371,
    #ff5f6d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.submit-btn {
  margin-top: 1rem;
  background: #ff5f6d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc371,
    #ff5f6d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc371,
    #ff5f6d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-weight: 500;
}
.submit-btn:hover {
  transform: scale(1.03);
}
.forgot {
  font-family: Hind;
  font-weight: bolder;
  font-size: 1.1rem;
  margin-top: 0.4rem;
}

/***** RENTALCARD.JS ******/
.rentalCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem 0rem;
  justify-content: center;
  padding: 2rem 10rem;
}
.rentalCard {
  background: #ebb353;
  border-radius: 20px;
  box-shadow: 0px 0px 6px -2px black;
  width: 25rem;
  aspect-ratio: 0.9;
  margin-left: 1rem;
  overflow: hidden;
  position: relative;
}
.imageContainer {
  height: 60%;
}
.rentalImage {
  width: 100%;
  min-width: 100%;
  height: 100%;
}
.detailsContainer {
  font-family: Inter;
  padding: 1rem 0.6rem 0.4rem 1rem;
  height: 100%;
}
.location {
  font-size: 1.2rem;
  font-weight: bold;
}
.staydescription {
  font-weight: 400;
  font-size: 1.1rem;
  margin-top: 0.2rem;
}
.stayDetails {
  margin-top: 0.8rem;
  font-size: 1rem;
}
.rent {
  position: absolute;
  top: 1rem;
  left: -0.1rem;
  padding: 0.5rem;
  border-radius: 5px;
  background: #e4d6a5;
}

/********* Room.js ***********/
.rentaroom {
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 15px;
  width: 50%;
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.innerclass {
  display: flex;
  justify-content: space-evenly;
}
.rentaroom label {
  display: block;
  font-family: Paytone One;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
  margin-top: 0.7rem;
}
.rentaroom input,
.rentaroom select,
.rentaroom textarea {
  width: 100%;
  font-family: Montserrat;
  font-weight: 300;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  margin: 0.3rem;
  /* outline: none; */
}
.roomSubmit {
  font-size: 0.7rem;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 0.7rem 3rem;
  border-radius: 20px;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
  margin-top: 1rem;
  transition: 0.4s ease-in-out;
}
.roomSubmit:hover {
  color: #f9ada0;
  background: #7661a5;
  transform: scale(1.09);
}
.submitBtn {
  text-align: center;
}
