/********* Room.js ***********/
.page-heading {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 3rem;
}
hr {
  height: 1.5px;
  background: rgb(66, 66, 66);
  width: 20rem;
  margin: auto;
}
.rentaroom {
  margin: 2rem auto;
  padding: 2rem;
  /* border: 0.2px solid black; */
  border-radius: 15px;
  box-shadow: 0px 0px 25px -12px black;
  width: 50%;
  min-width: 35rem;
  background: #c5c5c5;
}
.innerclass {
  display: flex;
  justify-content: space-evenly;
}
.rentaroom label {
  display: block;
  font-family: Paytone One;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
  margin-top: 0.7rem;
}
.rentaroom input,
.rentaroom select,
.rentaroom textarea {
  width: 100%;
  font-family: Montserrat;
  font-weight: 300;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  margin: 0.3rem;
  /* outline: none; */
}
.roomSubmit {
  font-size: 0.7rem;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 0.7rem 3rem;
  border-radius: 20px;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
  margin-top: 1rem;
  transition: 0.4s ease-in-out;
}
.roomSubmit:hover {
  color: #f9ada0;
  background: #7661a5;
  transform: scale(1.09);
}
.submitBtn {
  text-align: center;
}
